/mnrenv
/simplewiki-latest-pages-articles.xml
/.env

# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/

# Model artifacts
models/
models/*.joblib
models/*.pkl
# Ignore Python cache in all subfolders
gateway/**/__pycache__/
worker/**/__pycache__/
renderer/**/__pycache__/
tools/**/__pycache__/
wikiparser/**/__pycache__/
